:root {
    --yale-blue-boton: rgb(59, 137, 211);
    --naranja-categoria: #ee964bff;
    --celeste-hover: rgb(226, 214, 240);
    --dregradado: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    --moradito: rgb(27, 2, 44);
    --boton-hover: rgb(24, 101, 173);
    --boton-active: rgb(31, 127, 216);
    /* texto de boton: blanco */
    /* las tarjetas o secciones van con sombra */
}


.btn-agregar {
    background: var(--yale-blue-boton);
    color:white
}

.btn-agregar:hover {
    background: var(--boton-hover);
    color:white
}

.btn-agregar:active {
    background: var(--boton-active) !important;
    color:white !important;
}

.new-sand img {
    height: 13rem;
    object-fit: cover;
}