
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.formu {
    max-width: 15rem;
}


.redesSociales img {
    width: 4vh;
    margin: 0 0.2vh;
}


footer {
    margin-top: auto;
}