/*------------------------------------------------- TITULO------------------------------------------ */
.animated-word{
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter{
    transition: 2.9s;
    transform: translateX(0);
    cursor: grab;
    color: #0d0d0e;
}
.letter:hover{
    transform: translateY(-10rem);
    background: -webkit-linear-gradient(120deg,hsl(19, 90%, 52%), hsl(56, 100% 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*-------------------------------------------------FIN DE TITULO------------------------------------------ */
:root {
    --yale-blue-boton: rgb(59, 137, 211);
    --naranja-categoria: #ee964bff;
    --celeste-hover: rgb(226, 214, 240);
    --dregradado: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    --moradito: rgb(27, 2, 44);
    --boton-hover: rgb(24, 101, 173);
    --boton-active: rgb(31, 127, 216);
    /* texto de boton: blanco */
    /* las tarjetas o secciones van con sombra */
}

.navbar {
    background-color: rgb(27, 2, 44);
}

.categoria {
    background-color: #F95738;
}

.product,
.dropdown-menu {
    background-color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: var(--naples-yellow); */
    background: var(--dregradado);
    box-sizing: border-box;
    font-family: sans-serif;
   
}
footer {
    margin-top: auto;
    background: var(--moradito);
}

.logo-carrito {
    width: 50px;
}

.redesSociales img {
    width: 4vh;
    margin: 0 0.2vh;
}
.submit{
    text-align: center;
    align-items: center;
}


.buscador{
    align-items: right;
    text-align: center;
    
    
}
button{
    background: #c8c7d0;
}
#search{
    width: 500px;
}
/*--------------------------------------------------------- TARJETA--------------------------------------*/
.card{
    background: rgb(15, 15, 15);
   
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
}
/*-------------------------------------------------IMAGEN DE LA TARJETA------------------------------------------ */
.card img{
    margin: 50px;
    max-width: 200px;
    border-radius: 5px;
    
}
@media (max-width:640px){
    .products2{
        display: block;
        width: 400px;
    }
    .card{
        padding: 5px 20px 20px 20px;
        border: none;
    }
    .card img{
        padding: 5px 20px 20px 20px;
        background: transparent;
    }
    

}
    /*------------------------------------------------- SECCION PIZZA------------------------------------------ */
.products2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    gap: 2rem;
}
#pizzas {
    display: flex;
    gap: 2rem;
    
}
/*------------------------------------------------- SECCION MINUTAS------------------------------------------ */
.products3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    gap: 2rem;
    
}
#minutas {
    display: flex;
    gap: 2rem;
}
/*------------------------------------------------- SECCION EMPANADAS------------------------------------------ */
.products4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    gap: 2rem;
}
#empanadas {
    display: flex;
    gap: 2rem;
}
/*------------------------------------------------- SECCION SANDWICHES------------------------------------------ */
.products5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    gap: 2rem;
}
#sandwiches {
    display: flex;
    gap: 2rem;
}
/*------------------------------------------------- SECCION  BEBIDAS------------------------------------------ */
.products6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    gap: 2rem;
}
#bebidas {
    display: flex;
    gap: 2rem;
}