.products1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
    gap: 2rem;
}
#lomasbuscado {
    display: flex;
    gap: 2rem;
}
.card{
    background: rgb(232, 216, 227);
    max-width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card img{
    max-width: 100px;
    height: 100px;
}
.products2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(173, 147, 147);
    gap: 2rem;
}
#pizzas {
    display: flex;
    gap: 2rem;
}