body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    background: #c3fbc3;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .card{
    background: #fff;
    padding: 1.5rem;
    max-width: 30rem;
    border-radius: .5rem;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay: calc(3s * var(--delay));
}
.profile .header{
    display: flex;
    align-items: center;
}
.header{
    justify-content: space-between;
}
.profile{
    margin-bottom: 1rem;
}
.profile .img{
    height: 225px;
    width: 225px;
    padding: 1px;
    background: #fff;
    box-shadow: 0 8px 24px #000;
}
.profile .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile .details{
    margin-left: 10px;
}
.op-star{
    color: #28223f;
    font-size: 1.1rem;
}
.outer:hover .card{
    animation-play-state: paused;
}
.cards .card last-child{
    animation-delay: calc(-3s * var(--delay)) ;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%) scale(1);
    }
    45%, 60%{
        opacity: 1;
        pointer-events: all;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
}






